<% if artist_signed_in? %>
      <%= link_to "Artist Sign Out", destroy_artist_session_path, :method => :delete %>
    <% else %>
      <%=link_to "Artist Sign In", new_artist_session_path %></li>
    <% end %>
