

<div class="container">
 <div class="text-vertical-center col-md-6" id="welcome-content">
  <h1>IndieApp</h1>
    <br>
  <h3>Streaming APP for Local Artist</h3>

  <h4>Select one to get started</h4>

  <%= button_to "Listener", new_listener_session_path %>
  <%= button_to "Artist", new_artist_session_path %>

 </div>
</div>
